<section class="dashboard-page">
  <section class='hero'>
    <div class='hero-cta'>
      {{#if loggedIn}}
        <h2>{{session.username}}'s Stats</h2>
        <div id="stat-container">
          <p class="p-stats">Posts: {{session.posts}}</p>
          <p class="p-stats">Likes: {{session.likes}}</p>
          <p class="p-stats">Comments: {{session.comments}}</p>

<<<<<<< HEAD
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='description' content='' />
    <meta name='author' content='Mark Otto, Jacob Thornton, and Bootstrap contributors' />
    <meta name='generator' content='Hugo 0.98.0' />

    {{!
    <link href='../assets/dist/css/bootstrap.min.css' rel='stylesheet' /> }}

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position:
                relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top:
                -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }

        #profile-img {
            width: 150px;
            height:
                150px;
        }
    </style>

</head>

<body>

    <main>

        <section class='py-5 text-center container'>
            <div class='row py-lg-5'>
                <div class='col-lg-6 col-md-8 mx-auto'>
                    <img id='profile-image' src='{{session.profilePictureUrl}}' alt='user selected image' />
                    <h2 class='fw-light'>User</h2>
                    <p class='lead text-muted'> About me User info</p>
                    <div>
                        <button class='cloudinary-button ' id='upload_widget'>
                            Upload Image
                        </button>
                    </div>
                    <div>
                        <p>
                            <a href='#' class='btn btn-primary my-2'>Posts</a>
                            <a href='#' class='btn btn-secondary my-2'>Comments</a>
                        </p>
                        <p>
                            <a href='#' class='btn btn-primary my-2'>Likes</a>
                            <a href='#' class='btn btn-secondary my-2'>Friends</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        {{! <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                    dy=".3em">Thumbnail</text>
                            </svg>

                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Comments</button>
                                        <button type="button" class="btn btn-danger">♥</button>
                                    </div>
                                    <small class="text-muted">9 likes</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                    dy=".3em">Thumbnail</text>
                            </svg>

                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Comments</button>
                                        <button type="button" class="btn btn-danger">♥</button>
                                    </div>
                                    <small class="text-muted">13 likes</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                    dy=".3em">Thumbnail</text>
                            </svg>

                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Comments</button>
                                        <button type="button" class="btn btn-danger">♥</button>
                                    </div>
                                    <small class="text-muted">9 likes</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                    dy=".3em">Thumbnail</text>
                            </svg>

                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Comments</button>
                                        <button type="button" class="btn btn-danger">♥</button>
                                    </div>
                                    <small class="text-muted">2 likes</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
=======
          <!-- Creates New Posts -->
          <h4>Create New Post</h4>
          <form class="new-post-form">
            <div>
              <label for="post-title">Title</label>
              <input type="text" id="post-title" name="post-title" />
            </div>
            <div>
              <label for="post-url">Link</label>
              <input id="post-url" name="post-url" />
>>>>>>> 72efc2d2bff5f47a71d7efdb4aa4f5e513995857
            </div>
            <button type="submit" class="btn">Create</button>
          </form>
        {{else}}
        <h2>You are not Logged In!</h2>
        <a href='/login'>login</a>
        {{/if}}
          <!-- Shows Posts -->
          {{#if posts.length}}
            <h2>Your Posts</h2>
            <ol>
              {{#each posts as |post|}}
                <li>
                  {{> post-info post}}
                  <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
                </li>
              {{/each}}
            </ol>
          {{/if}}
      </div>
    </div>
  </section>

<<<<<<< HEAD
    </main>

    <script src='https://upload-widget.cloudinary.com/global/all.js' type='text/javascript'>
    </script>
    <script src='/js/upload-widget.js' type='text/javascript'></script>

</body>

</html>
=======
  <script src="/javascript/add-post.js"></script>
  <script src="/javascript/comment.js"></script>
</section>
>>>>>>> 72efc2d2bff5f47a71d7efdb4aa4f5e513995857
