<section class="dashboard-page">
  <section class='hero'>
    <div class='hero-cta'>
      {{#if loggedIn}}
        <h2>{{session.username}}'s Stats</h2>
        <div id="stat-container">
          <p class="p-stats">Posts: {{session.posts}}</p>
          <p class="p-stats">Likes: {{session.likes}}</p>
          <p class="p-stats">Comments: {{session.comments}}</p>

          <!-- Creates New Posts -->
          <h4>Create New Post</h4>
          <form class="new-post-form">
            <div>
              <label for="post-title">Title</label>
              <input type="text" id="post-title" name="post-title" />
            </div>
            <div>
              <label for="post-url">Link</label>
              <input id="post-url" name="post-url" />
            </div>
            <button type="submit" class="btn">Create</button>
          </form>
        
          <!-- Shows Posts -->
          {{#if posts.length}}
            <h2>Your Posts</h2>
            <ol>
              {{#each posts as |post|}}
                <li>
                  {{> post-info post}}
                  <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
                </li>
              {{/each}}
            </ol>
          {{/if}}
      {{else}}
        <h2>You are not Logged In!</h2>
        <a href='/login'>login</a>
      {{/if}}
      </div>
    </div>
  </section>

  <script src="/javascript/add-post.js"></script>

</section>